version: '3.9'
services:
  postgresql:
    image: postgres:14
    container_name: linktracker
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=scrapper
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

    networks:
      - backend

#    volumes:
#      - postgres-data:/var/lib/postgresql/data



  liquibase-migrations:
    image: liquibase/liquibase:4.18
    command:
      - --hub-mode=off
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql:5432/scrapper
      - --username=postgres
      - --password=password
      - update
    volumes:
      - ./migrations:/liquibase/changelog
    depends_on:
      - postgresql

    networks:
      - backend


  rabbitmq:
    container_name: rabbitmq
    hostname: rabbitmq
    image: 'rabbitmq:3.6-management-alpine'
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      AMQP_URL: 'amqp://rabbitmq?connection_attempts=5&retry_delay=5'
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"

    volumes:
      - rabbitmq-data:/var/lib/rabbitmq





#volumes:
#  postgresql-data:
#    name: postgres-data-volume

volumes:
  rabbitmq-data:
    name: rabbitmq-data-volume
    driver: local

networks:
  backend:



